node_modules
*.DS_Store
**/.DS_Store
*.pem
*.json
key.key
cert.cer
*hf_token

# Environment variables
.env

# Python
__pycache__/
*.py[cod]
*$py.class

# Large media files
media/gltf/attic1986_ver2/Image_1-Image_3.png